body{
    background-color: #e3f2fd8c;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin-top: 20px;
}

.button-card{
    margin-top: 100px;
    text-align-last: center;
}

.button{
    border: 1px solid black;
    border-radius: 10px 0px 10px 0px;
    background-color: greenyellow;
    font-size: 25px;
    color: blue;
    transition-duration: 1s;
    cursor: pointer;
}

.button:hover{
    border: 1px solid black;
    border-radius: 10px 0px 10px 0px;
    background-color: blue;
    font-size: 25px;
    color: greenyellow;
    transition-duration: 1s;
    cursor: pointer;
}

.button_navbar{
    background-color: rgba(255, 255, 255, 0);
    color: white!important;
    font-weight: 700;
    border: none;
    padding-right: 5px;
}

.button_navbar:hover{
    background-color: rgba(255, 255, 255, 0);
    color: black!important;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.338)!important;
    border: none;
    padding-right: 5px;
}

.button_cont{
    position: absolute;
    box-shadow: 5px 0px 10px black;
    animation: 2s;
}

.button_cont:hover{
    position: absolute; 
    transform: translate(0px, -5px);
    box-shadow: 5px 0px 10px black;
    animation: 2s;
}


#white{
    font-size: 100px;
    font-weight: 900px;
    text-align: center;
    color: purple;
}

.modal1{
    margin-top: 20px;
    width: 500px;
    height: 500px;
    background-color: rebeccapurple!important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.modal2{
    margin-top: 20px;
    width: 500px;
    height: 500px;
    background-color: rebeccapurple!important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.btt_fechar{
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}

#name{
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name_teste{
    display: none;
}

#pag_home{
    display: block;
}

#pag_1{
    display: none;
}

#pag_2{
    display: none;
}

#pag_3{
    display: none;
}

.card_middle{
    display: flex;
    justify-content: center;
}

.card_middle_title{
    font-size: 50px;
}

.card_middle_text{
    margin-top: 30px;
    font-size: 18px;
}

